<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/allergies" routerLinkActive="active" aria-current="page">Allergies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/location" routerLinkActive="active" aria-current="page">Location</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about" routerLinkActive="active" aria-current="page">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup" routerLinkActive="active" aria-current="page">Sign in</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
 
  <div class="main">
  <div class="heading">
  <h1>Search Your Food Recipe</h1>
  </div>
  
   <form>
      <div class="form-group">
        <input type="text" name="meal-name" class="form-control" #mealNameInput placeholder="Search">
  <button (click)="getMealDetails(mealNameInput.value)" type="button" class="btn btn-primary">Get Recipe Details</button>
  
     </div>
    </form>
  
      <div class="row bg light mt-4 p-4" *ngIf="mealData">
        <div class="col-sm-4">
      <div>
      <h3>{{mealData.Error}}</h3>
      </div>
      </div>
        <div class="col-sm-8">
          <div *ngIf="mealData && mealData.meals">
    <div *ngFor="let meal of mealData.meals">
      <h1>{{ meal.strMeal }}</h1>
      <h3>Category: {{ meal.strCategory }}</h3>
      <h3>Nationality: {{ meal.strArea }}</h3>
      <h3>Ingredients:</h3>
      <p>{{ meal.strIngredient1 }},  {{ meal.strIngredient2 }},  {{ meal.strIngredient3 }},  {{ meal.strIngredient4 }},  {{ meal.strIngredient5 }},  {{ meal.strIngredient6 }},  {{ meal.strIngredient7 }},  {{ meal.strIngredient8 }},  {{ meal.strIngredient9 }}</p>
      
      <h4>Instructions:</h4>
      <p>{{ meal.strInstructions }}</p>
      
      <img [src]="meal.strMealThumb" alt="Meal image">
    </div>
    
  </div>
    
  </div> 
</div>