<form [formGroup]="SignInForm" (ngSubmit) = "onSubmit()"  >

    <mat-form-field appearance="outline">
        <mat-label for="email"> Email</mat-label>
        <input id="email" type="text" matInput formControlName="email" >
        
        @if (!email?.value) {
          <mat-hint>Enter a valid email address</mat-hint>
      }
      @if (email?.hasError('required')) {
          <mat-error>Email is required</mat-error>
      }
      @else if (email?.hasError('email')) {
          <mat-error>Invalid email address</mat-error>
      }
      
  
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label for="password"> Password</mat-label>
        <input id="password" type="text" matInput formControlName="password" >
        
    </mat-form-field>

    <div >
      @if (password?.invalid && password?.touched)
      {
      Password is required and must be at least 3 letters
      }
    </div>

   
  
    <button type="submit" [disabled]="SignInForm.invalid">Submit</button>

</form>

  