<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/allergies" routerLinkActive="active" aria-current="page">Allergies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/location" routerLinkActive="active" aria-current="page">Location</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active" aria-current="page">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active" aria-current="page">Sign in</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<form (ngSubmit)="onSubmit()" #signupForm="ngForm" class="signup-form">
  
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row border rounded-5 p-3 bg-white shadow box-area">

      
      <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #29a3a8;">
        <div class="featured-image mb-3">
          <img src="assets/images/mealfinderlogo.png" class="img-fluid" style="width: 400px;">
        </div>
        <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;"></p>
        <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;"></small>
      </div>

      
      <div class="col-md-6 right-box">
        <div class="row align-items-center">
          <div class="header-text mb-4">
            <h2>Sign Up</h2>
            <p>We are excited to have you join us!</p>
          </div>

          <div class="mb-3">
            <label for="fname" class="form-label">First Name:</label>
            <input type="text" id="fname" required [(ngModel)]="user.fname" name="fname" #fname="ngModel" class="form-control form-control-lg bg-light fs-6">
            <div *ngIf="fname.invalid && fname.touched" class="text-danger">First Name is required</div>
          </div>

          <div class="mb-3">
            <label for="lname" class="form-label">Last Name:</label>
            <input type="text" id="lname" required [(ngModel)]="user.lname" name="lname" #lname="ngModel" class="form-control form-control-lg bg-light fs-6">
            <div *ngIf="lname.invalid && lname.touched" class="text-danger">Last Name is required</div>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" required [(ngModel)]="user.email" name="email" #email="ngModel" class="form-control form-control-lg bg-light fs-6">
            <div *ngIf="email.invalid && email.touched" class="text-danger">Valid Email is required</div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" required [(ngModel)]="user.password" name="password" #password="ngModel" class="form-control form-control-lg bg-light fs-6">
            <div *ngIf="password.invalid && password.touched" class="text-danger">Password is required</div>
          </div>

          <div class="mb-3">
            <label for="allergies">Select Allergies (optional):</label>
            <div *ngFor="let allergy of allergyOptions">
              <input 
                type="checkbox" 
                id="allergy-{{allergy}}" 
                name="allergy" 
                [(ngModel)]="user.allergies[allergy]" 
                [value]="allergy" 
                class="form-check-input">
              <label for="allergy-{{allergy}}" class="form-check-label">{{allergy}}</label>
            </div>
            
            <div *ngIf="selectedAllergiesCount === 0 && signupForm.touched" class="error text-danger">
              Please select at least one allergy if you have any.
            </div>
          </div>

          <div class="input-group mb-3">
            <button type="submit" [disabled]="signupForm.invalid" class="btn btn-lg btn-primary w-100 fs-6">Sign Up</button>
          </div>

          <div class="row">
            <small>Already have an account? <a href="#">Login</a></small>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>

  
  